name: Update Docker Hub Description

on:
  push:
    branches: [main]
    paths: [DOCKER.md]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update Docker Hub description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: rjpr/s3lazy
          readme-filepath: ./DOCKER.md
